.App {
  text-align: center;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 40px;
}

.active {
  /*background-color: blue;*/
  opacity: 50%;
}

.not-active {
  background-color: #282c34;
}
